/* Footer styling */
.site-footer {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: center;
    padding: 1rem 0;
    background-color: #75bef8;
    flex-direction: column;
    align-items: center;
    gap: .5rem; 
 }

/* Mobile first css design */
@media (min-width: 768px) {
    .site-footer {
        flex-direction: row;
        gap: 2rem;
    }
}

/* Remove the decoration and changing colors when links are clicked */
a:link, a:visited {
    color: black;
    text-decoration: none;  
}